{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Start your development with Meyawo landing page.">
    <meta name="author" content="Devcrud">
    <title>My Portfolio</title>
    <!-- font icons -->
    <link rel="stylesheet" href="{% static 'app/assets/vendors/themify-icons/css/themify-icons.css' %}">
    <!-- Bootstrap + Meyawo main styles -->
    <link rel="stylesheet" href="{% static 'app/assets/css/meyawo.css' %}">
</head>

<body data-spy="scroll" data-target=".navbar" data-offset="40" id="home">

    <!-- Page Navbar -->
    {% include 'app/navbar.html' %}<!-- End of Page Navbar -->

    <!-- page header -->
    <header id="home" class="header">
        <div class="overlay"></div>
        <div class="header-content container">
            <h1 class="header-title">
                <span class="up">HI!</span>
                <span class="down">I am Shohruh Abdurahmon</span>
            </h1>
            <p class="header-subtitle">Python Web Developer</p>

            <button class="btn btn-primary">Visit My Works</button>
        </div>

    </header><!-- end of page header -->

    <!-- about section -->
    <section class="section pt-0" id="about">
        <!-- container -->
        <div class="container text-center">
            <!-- about wrapper -->
            <div class="about">
                <div class="about-img-holder">
                    <img src="{% static 'app/assets/imgs/shox.jpg' %}" class="about-img"
                        alt="Download free bootstrap 4 landing page, free boootstrap 4 templates,
                         Download free bootstrap 4.1 landing page, free boootstrap 4.1.1 templates, meyawo Landing page">
                </div>
                <div class="about-caption">
                    <p class="section-subtitle">Who Am I ?</p>
                    <h2 class="section-title mb-3">About Me</h2>
                    <p>
                     I am a Software Engineer who has been learning Python in PDP academy since December 2021.
                      I am passionate, self-motivated, and life-long learner. I am currently looking for internship
                        opportunities to apply my knowledge and skills into real projects.
                    I have some principles in my life. My first principle is that I want to learn continuously.
                        I never stop learning. My second principle is that I am fully dedicated to what I do.
                        You can see how serious I am about my job after reading my story.
                    I studied my bachelor's degree at Tashkent Chemical Institute at Main Organic Synthesis.
                        At that time I didn't find my passion and spent 4 years there. After graduating,
                        I saw that I am not really interested in this sphere and decided to leave.
                        Even after spending so many years in another sphere, I am glad that I was not afraid to start
                        learning Software Engineering. This is the sign of how serious I am about Software Engineering
                    </p>
                    <a href="{% static 'app/assets/imgs/Shohruh Abdurahmon.pdf' %}" id="down" download/>
                            <button class="btn-rounded btn btn-outline-primary mt-4"
                                    onclick="document.getElementById('down').clisk()">Download CV</button>
                    </a>
                </div>
            </div><!-- end of about wrapper -->
        </div><!-- end of container -->
    </section> <!-- end of about section -->

    <!-- service section -->
    <section class="section" id="service">
        <div class="container text-center">
            <p class="section-subtitle">What I Do ?</p>
            <h6 class="section-title mb-6">Skills</h6>
            <!-- row -->
            <div class="row">
                {% for skill in  skills %}
                    <div class="col-md-6 col-lg-3">
                    <div class="service-card">
                        <div class="body">
                            <img src="{% static 'app/assets/imgs/toolbox.svg' %}"
                                alt="Download free bootstrap 4 landing page, free boootstrap 4 templates,
                                 Download free bootstrap 4.1 landing page, free boootstrap 4.1.1 templates,
                                  meyawo Landing page"
                                class="icon">
                            <h6 class="title">{{ skill.title }}</h6>
                            <p class="subtitle">{{ skill.text }}</p>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div><!-- end of row -->
        </div>
    </section><!-- end of service section -->

    <!-- portfolio section -->
    <section class="section" id="portfolio">
        <div class="container text-center">
            <p class="section-subtitle">What I Did ?</p>
            <h6 class="section-title mb-6">My Projects</h6>
            <!-- row -->
            <div class="row">
                {% for project in projects %}
                    <div class="col-md-4">
                    <a href="{% url 'project' project.id %}" class="portfolio-card">
                        <img src="{{ project.image.url }}" class="portfolio-card-img"
                            alt="Download free bootstrap 4 landing page, free boootstrap 4 templates,
                             Download free bootstrap 4.1 landing page, free boootstrap 4.1.1 templates, meyawo
                              Landing page">
                        <span class="portfolio-card-overlay">
                            <span class="portfolio-card-caption">
                                <h4>{{ project.title }}</h4>
                                    <p class="font-weight-normal">{{ project.text }}</p>
                            </span>
                        </span>
                    </a>
                </div>
                {% endfor %}
            </div><!-- end of row -->
        </div><!-- end of container -->
    </section> <!-- end of portfolio section -->

    <!-- section -->
    <section class="section-sm bg-primary">
        <!-- container -->
        <div class="container text-center text-sm-left">
            <!-- row -->
            <div class="row align-items-center">
                <div class="col-sm offset-md-1 mb-4 mb-md-0">
                    <h6 class="title text-light">Want to work with me?</h6>
                    <p class="m-0 text-light">Always feel Free to Contact & Hire me</p>
                </div>
                <div class="col-sm offset-sm-2 offset-md-3">
                    <button class="btn btn-lg my-font btn-light rounded">Hire Me</button>
                </div>
            </div> <!-- end of row -->
        </div> <!-- end of container -->
    </section> <!-- end of section -->

    <!-- testimonial section -->
    <section class="section" id="testmonial">
        <div class="container text-center">
            <p class="section-subtitle">What Think Client About Me ?</p>
            <h6 class="section-title mb-6">Testmonial</h6>

            <!-- row -->
            <div class="row">
                <div class="col-md-6">
                    <div class="testimonial-card">
                        <div class="testimonial-card-img-holder">
                            <img src="{% static 'app/assets/imgs/avatar2.jpg' %}" class="testimonial-card-img"
                                alt="Download free bootstrap 4 landing page, free boootstrap 4 templates, Download free bootstrap 4.1 landing page, free boootstrap 4.1.1 templates, meyawo Landing page">
                        </div>
                        <div class="testimonial-card-body">
                            <p class="testimonial-card-subtitle">Lorem ipsum dolor sit amet, consectetur adipisicing
                                elit. Eaque doloribus autem aperiam earum nostrum omnis blanditiis corporis perspiciatis
                                adipisci nihil.</p>
                            <h6 class="testimonial-card-title">Emily Reb</h6>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="testimonial-card">
                        <div class="testimonial-card-img-holder">
                            <img src="{% static 'app/assets/imgs/avatar3.jpg' %}" class="testimonial-card-img"
                                alt="Download free bootstrap 4 landing page, free boootstrap 4 templates, Download free bootstrap 4.1 landing page, free boootstrap 4.1.1 templates, meyawo Landing page">
                        </div>
                        <div class="testimonial-card-body">
                            <p class="testimonial-card-subtitle">Lorem ipsum dolor sit amet, consectetur adipisicing
                                elit. Eaque doloribus autem aperiam earum nostrum omnis blanditiis corporis perspiciatis
                                adipisci nihil.</p>
                            <h6 class="testimonial-card-title">Emily Reb</h6>
                        </div>
                    </div>
                </div>
            </div>
        </div> <!-- end of container -->
    </section> <!-- end of testimonial section -->

    <!-- blog section -->
    <section class="section" id="blog">
        <!-- container -->
        <div class="container text-center">
            <p class="section-subtitle">Recent Posts?</p>
            <h6 class="section-title mb-6">Blog</h6>
            <!-- blog-wrapper -->
          {% for blog in blogs %}
            <div class="blog-card">
                <div class="blog-card-header">
                    <a href="{% url 'blog' blog.id %}"><img src="{{ blog.image.url }}" class="blog-card-img"
                        alt="Download free bootstrap 4 landing page, free boootstrap 4 templates,
                         Download free bootstrap 4.1 landing page, free boootstrap 4.1.1 templates, meyawo Landing page">
                    </a>
                </div>
                <div class="blog-card-body">
                    <h5 class="blog-card-title">{{ blog.title }}</h5>

                        <p class="blog-card-caption">
                            <a href="#">By: Admin</a>
                            <a href="#"><i class="ti-heart text-danger"></i> 234</a>
                            <a href="#"><i class="ti-comment"></i> 123</a>
                        </p>
                        <p><b>{{ blog.text }}</b>
                        </p>
                        <a href="#" class="blog-card-link">Read more <i class="ti-angle-double-right"></i></a>
                </div>
            </div><!-- end of blog wrapper -->
          {% endfor %}

        </div><!-- end of container -->
    </section><!-- end of blog section -->

    <!-- contact section -->
    <section class="section" id="contact">
        <div class="container text-center">
            <p class="section-subtitle">How can you communicate?</p>
            <h6 class="section-title mb-5">Contact Me</h6>
            <!-- contact form -->
            <form action="{% url 'add_contact' %}" method="post" class="contact-form col-md-10 col-lg-8 m-auto">
                {% csrf_token %}
                <div class="form-row">
                    <div class="form-group col-sm-6">
                        <input type="text" size="50" class="form-control" name="username" placeholder="User Name" required>
                    </div>
                    <div class="form-group col-sm-6">
                        <input type="email" class="form-control" name="email" placeholder="Enter Email" requried>
                    </div>
                    <div class="form-group col-sm-12">
                        <textarea name="text" id="comment" rows="6" class="form-control"
                            placeholder="Write Something"></textarea>
                    </div>
                    <div class="form-group col-sm-12 mt-3">
                        <input type="submit" value="Send Message" class="btn btn-outline-primary rounded">
                    </div>
                </div>
            </form><!-- end of contact form -->
        </div><!-- end of container -->
    </section><!-- end of contact section -->

    {% include 'app/footer.html' %}

    <!-- core  -->
    <script src="{% static 'app/assets/vendors/jquery/jquery-3.4.1.js' %}"></script>
    <script src="{% static 'app/assets/vendors/bootstrap/bootstrap.bundle.js' %}"></script>

    <!-- bootstrap 3 affix -->
    <script src="{% static 'app/assets/vendors/bootstrap/bootstrap.affix.js' %}"></script>

    <!-- Meyawo js -->
    <script src="{% static 'app/assets/js/meyawo.js' %}"></script>



</body>

</html>